<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAnCuoiKy.Properties.Settings.QUAN_LY_KHO_HANGConnectionString"
            connectionString="Data Source=LENOVO;Initial Catalog=QUAN_LY_KHO_HANG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>